USE [SMS]
GO
/****** Object:  Index [UK_EntityCodePrefixes_Prefix]    Script Date: 5/30/2026 5:21:03 PM ******/
ALTER TABLE [dbo].[tbld_EntityCodePrefixes] DROP CONSTRAINT [UK_EntityCodePrefixes_Prefix]
GO
/****** Object:  Index [UK_EntityCodePrefixes_EntityName]    Script Date: 5/30/2026 5:21:03 PM ******/
ALTER TABLE [dbo].[tbld_EntityCodePrefixes] DROP CONSTRAINT [UK_EntityCodePrefixes_EntityName]
GO
/****** Object:  Table [dbo].[tbld_EntityCodePrefixes]    Script Date: 5/30/2026 5:21:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbld_EntityCodePrefixes]') AND type in (N'U'))
DROP TABLE [dbo].[tbld_EntityCodePrefixes]
GO
/****** Object:  Table [dbo].[tbld_EntityCodePrefixes]    Script Date: 5/30/2026 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbld_EntityCodePrefixes](
	[fldi_ID] [int] IDENTITY(1,1) NOT NULL,
	[fldv_EntityName] [varchar](50) NOT NULL,
	[fldv_TableName] [varchar](50) NOT NULL,
	[fldv_Prefix] [varchar](5) NOT NULL,
	[fldi_NextSequence] [int] NOT NULL,
	[fldb_IsActive] [bit] NOT NULL,
	[fldv_Description] [varchar](200) NULL,
	[fldv_CreatedBy] [varchar](50) NOT NULL,
	[fldd_CreatedDate] [datetime] NOT NULL,
	[fldv_UpdatedBy] [varchar](50) NULL,
	[fldd_UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK__tbld_Ent__02B95E75D9157943] PRIMARY KEY CLUSTERED 
(
	[fldi_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbld_EntityCodePrefixes] ON 

INSERT [dbo].[tbld_EntityCodePrefixes] ([fldi_ID], [fldv_EntityName], [fldv_TableName], [fldv_Prefix], [fldi_NextSequence], [fldb_IsActive], [fldv_Description], [fldv_CreatedBy], [fldd_CreatedDate], [fldv_UpdatedBy], [fldd_UpdatedDate]) VALUES (1, N'Report', N'tbld_Reports', N'HR', 3059, 1, N'SMS Report entities', N'SYSTEM', CAST(N'2025-11-04T15:32:54.353' AS DateTime), N'SYSTEM', CAST(N'2026-05-28T15:55:09.923' AS DateTime))
INSERT [dbo].[tbld_EntityCodePrefixes] ([fldi_ID], [fldv_EntityName], [fldv_TableName], [fldv_Prefix], [fldi_NextSequence], [fldb_IsActive], [fldv_Description], [fldv_CreatedBy], [fldd_CreatedDate], [fldv_UpdatedBy], [fldd_UpdatedDate]) VALUES (2, N'Hazard', N'tbld_Hazards', N'HZ', 3364, 1, N'SMS Hazard entities', N'SYSTEM', CAST(N'2025-11-04T15:32:54.353' AS DateTime), N'SYSTEM', CAST(N'2026-05-28T15:55:09.933' AS DateTime))
INSERT [dbo].[tbld_EntityCodePrefixes] ([fldi_ID], [fldv_EntityName], [fldv_TableName], [fldv_Prefix], [fldi_NextSequence], [fldb_IsActive], [fldv_Description], [fldv_CreatedBy], [fldd_CreatedDate], [fldv_UpdatedBy], [fldd_UpdatedDate]) VALUES (3, N'Investigation', N'tbld_Investigations', N'IN', 296, 1, N'SMS Investigation entities', N'SYSTEM', CAST(N'2025-11-04T15:32:54.353' AS DateTime), N'SYSTEM', CAST(N'2026-05-01T21:46:26.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbld_EntityCodePrefixes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EntityCodePrefixes_EntityName]    Script Date: 5/30/2026 5:21:03 PM ******/
ALTER TABLE [dbo].[tbld_EntityCodePrefixes] ADD  CONSTRAINT [UK_EntityCodePrefixes_EntityName] UNIQUE NONCLUSTERED 
(
	[fldv_EntityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EntityCodePrefixes_Prefix]    Script Date: 5/30/2026 5:21:03 PM ******/
ALTER TABLE [dbo].[tbld_EntityCodePrefixes] ADD  CONSTRAINT [UK_EntityCodePrefixes_Prefix] UNIQUE NONCLUSTERED 
(
	[fldv_Prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
